/*
 *
 * License
 * -------------------------------------------------------
 * Contact
 * -------------------------------------------------------
 */
 #channel_nav,.admin,
 #channels,.activities,.approval,.suspended,
 .devise
{
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 5px 0 #ccc;
	overflow: hidden;
}
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],
 input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],
 input[type="url"],input[type="search"],input[type="tel"],input[type="color"],
 .uneditable-input
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
.header,.nav .search
{
	background-color: #566569;
	background-image: linear-gradient(#566569, #3f494b);
	background-image: -webkit-linear-gradient(#566569, #3f494b);
	border-bottom: 1px solid #fff;
	box-shadow: inset 0px -10px 10px -10px #000;
	display: block;
	height: 35px;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.header .button,.nav .search .button
{
	color: rgba(255,255,255,0.5);
	display: block;
	font-size: 21px;
	height: 100%;
	text-decoration: none;
}
.header .button:active,.nav .search .button:active,.header .button.active,.nav .search .button.active,
 .header .main-area .slide-right .button.nav-toggle,.main-area .slide-right .header .button.nav-toggle,
 .nav .search .main-area .slide-right .button.nav-toggle,.main-area .slide-right .nav .search .button.nav-toggle,
 .header .main-area .slide-left .button.sidebar-toggle,.main-area .slide-left .header .button.sidebar-toggle,
 .nav .search .main-area .slide-left .button.sidebar-toggle,.main-area .slide-left .nav .search .button.sidebar-toggle,
 .header .sidebar .user-header.open-menu a.user-menu-toggle .button,.sidebar .user-header.open-menu a.user-menu-toggle .header .button,
 .nav .search .sidebar .user-header.open-menu a.user-menu-toggle .button,
 .sidebar .user-header.open-menu a.user-menu-toggle .nav .search .button
{
	color: #fff;
}
.header .button.left,
 .nav .search .button.left
{
	float: left;
	margin-right: 10px;
}
.header .button.right,.nav .search .button.right
{
	float: right;
	margin-left: 10px;
}
.sidebar,
 .nav
{
	bottom: 0;
	position: absolute;
	top: 0;
	width: 240px;
	z-index: 0;
}
input[type="checkbox"]
 .switch
{
	opacity: 0;
	position: absolute;
}
input[type="checkbox"]
 .switch ~ span
{
	background-color: #fafafa;
	box-shadow: inset 0 0 0 1px #d3d3d3;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 20px;
	moz-transition: border 0.25s 0.15s,box-shadow 0.25s 0.3s,padding 0.25s;
	position: relative;
	transition: border 0.25s 0.15s,box-shadow 0.25s 0.3s,padding 0.25s;
	vertical-align: top;
	webkit-transition: border 0.25s 0.15s,box-shadow 0.25s 0.3s,padding 0.25s;
	width: 40px;
}
input[type="checkbox"].switch ~ span:after
{
	background-color: #fff;
	box-shadow: inset 0 -3px 3px rgba(0,0,0,0.025),0 1px 4px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.1);
	box-sizing: border-box;
	content: "";
	display: block;
	height: 20px;
	left: 0;
	moz-box-sizing: border-box;
	moz-transition: border 0.25s 0.15s,left 0.25s 0.1s,right 0.15s 0.175s;
	position: absolute;
	right: 20px;
	top: -1px;
	transition: border 0.25s 0.15s,left 0.25s 0.1s,right 0.15s 0.175s;
	webkit-box-sizing: border-box;
	webkit-transition: border 0.25s 0.15s,left 0.25s 0.1s,right 0.15s 0.175s;
	width: 20px;
}
input[type="checkbox"].switch ~ span,input[type="checkbox"].switch ~ span:after
{
	border-color: #d3d3d3;
	border-radius: 9999px;
	border-style: solid;
	border-width: 1px;
}
input[type="checkbox"].switch:checked ~ span
{
	box-shadow: inset 0 0 0 13px #53d76a;
	moz-transition: border 0.25s,box-shadow 0.25s,padding 0.25s 0.15s;
	transition: border 0.25s,box-shadow 0.25s,padding 0.25s 0.15s;
	webkit-transition: border 0.25s,box-shadow 0.25s,padding 0.25s 0.15s;
}
input[type="checkbox"].switch:checked ~ span:after
{
	left: 20px;
	moz-transition: border 0.25s,left 0.15s 0.25s,right 0.25s 0.175s;
	right: 0;
	transition: border 0.25s,left 0.15s 0.25s,right 0.25s 0.175s;
	webkit-transition: border 0.25s,left 0.15s 0.25s,right 0.25s 0.175s;
}
input[type="checkbox"].switch:checked ~ span,input[type="checkbox"].switch:checked ~ span:after
{
	border-color: #53d76a;
}

#channels
{
	bottom: 0;
	left: 0;
	margin: 10px;
	padding: 1px 0 61px;
	position: absolute;
	right: 0;
	top: 35px;
}
#channels .channels-pane
{
	display: none;
	height: 100%;
	margin-right: 1px;
	overflow-y: auto;
	padding: 0 1px 0 0;
}
#channels .channels-pane::-webkit-scrollbar
{
	background: transparent;
	border-radius: 4px;
	height: 8px;
	width: 8px;
}
#channels .channels-pane::-webkit-scrollbar-thumb
{
	background: #566569;
	border-radius: 4px;
}
#channels .channels-pane.active,
 #channels .main-area .slide-right .channels-pane.nav-toggle,.main-area .slide-right 
 #channels .channels-pane.nav-toggle,
 #channels .main-area .slide-left .channels-pane.sidebar-toggle,.main-area .slide-left 
 #channels .channels-pane.sidebar-toggle,#channels .sidebar .user-header.open-menu a.user-menu-toggle .channels-pane.button,.sidebar .user-header.open-menu a.user-menu-toggle #channels .channels-pane.button
{
	display: block;
}
#channels .channels-pane .chatbox
{
	background: #e6edef;
	border-top: 1px solid #f5f8f9;
	bottom: 0;
	left: 0;
	padding: 10px 85px 10px 10px;
	position: absolute;
	right: 0;
	z-index: 600;
}
#channels .channels-pane .chatbox textarea
{
	border-color: #aeb9bd;
	border-radius: 4px 0 0 4px;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	box-sizing: border-box;
	display: block;
	moz-box-sizing: border-box;
	resize: none;
	webkit-box-sizing: border-box;
	width: 100%;
}
#channels .channels-pane .chatbox textarea:focus
{
	border-color: #9fdff4;
	box-shadow: 0 0 5px 0 #9fdff4;
	outline: none;
}
#channels .channels-pane .chatbox button
{
	background-image: linear-gradient(#c8ecf6, #9fdff4);
	background-image: -webkit-linear-gradient(#c8ecf6, #9fdff4);
	border: 1px solid #aeb9bd;
	border-radius: 0 4px 4px 0;
	bottom: 10px;
	color: #59808b;
	font-size: 16px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 75px;
}
#channels .channels-pane .chatbox textarea,#channels .channels-pane .chatbox button
{
	height: 40px;
	margin: 0;
	padding: 0;
}
.activity
{
	background: #fff;
	min-height: 50px;
	position: relative;
	zoom: 1;
}
.activity:before,.activity:after
{
	content: " ";
	display: table;
}
.activity:after
{
	clear: both;
}
.activity:last-child
{
	border-bottom: none;
}
.activity .readable
{
	margin: 0 100px 0 30px;
	padding: 0 10px;
	zoom: 1;
}
.activity .readable:before,.activity .readable:after
{
	content: " ";
	display: table;
}
.activity .readable:after
{
	clear: both;
}
.activity .readable .user
{
	color: #aeb9bd;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 4px;
	width: 100%;
}
.activity .readable .content
{
	color: #797d7f;
	float: left;
	font-size: 14px;
}
.activity .readable .content .image-preview,.activity .readable .content .youtube-preview
{
	background: #f3f8f9;
	border-radius: 4px;
	box-shadow: 0px 1px 5px 0px #ccc;
	float: left;
	padding: 10px;
}
.activity .readable .content .image-preview,.activity .readable .content .image-preview>*,.activity .readable .content .youtube-preview,.activity .readable .content .youtube-preview>*
{
	max-width: 100%;
}
.activity .readable .content .image-preview a,.activity .readable .content .youtube-preview a
{
	display: block;
}
.activity .readable .content .image-preview .name,.activity .readable .content .youtube-preview .name
{
	color: #878d8f;
	font-weight: bold;
	margin-top: 5px;
}
.activity .readable .content img.image-embed
{
	height: auto;
	max-width: 100%;
}
.activity .readable .content .color-preview
{
	border: 1px solid gray;
	border-radius: 3px;
	display: inline-block;
	height: 15px;
	margin: 0 5px;
	vertical-align: bottom;
	width: 15px;
}
.activity .readable .content .mention
{
	background-color: #bcd3e8;
	border: 1px solid #bbb;
	border-radius: 5px;
	color: #000;
	padding: 2px 3px;
}
.activity .readable .content .emoticon-embed
{
	vertical-align: bottom;
}
.activity .readable .content .emoticon-embed.small
{
	height: 20px;
	width: 20px;
}
.activity .readable .content .emoticon-embed.big
{
	height: 40px;
	width: 40px;
}
.activity .posted_at
{
	background: #f3f8f9;
	border-radius: 4px;
	color: #bdc6ca;
	float: right;
	font-size: 11px;
	padding: 4px;
	text-align: right;
}
.activity .avatar
{
	display: block;
	float: left;
	height: 30px;
	width: 30px;
}
.activity.current_user
{
	background-color: #f5f5f5;
}
.activity.current_user .posted_at
{
	background: #bcd3e8;
	color: #6f7477;
}
.activity.mentioned_user
{
	background-color: #e2ecf5;
}
.activity.mentioned_user .posted_at
{
	background: #bcd3e8;
	color: #6f7477;
}
.activity.connect
{
	background-color: #c4df9b;
}
.activity.disconnect
{
	background-color: #fbaf5c;
}
.activity.connect,.activity.disconnect
{
	min-height: 0;
	opacity: 0.5;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
.activity.connect .posted_at,.activity.disconnect .posted_at
{
	line-height: normal;
}
.activity.connect .avatar,.activity.connect .user,.activity.disconnect .avatar,.activity.disconnect .user
{
	display: none;
}
.activity.connect .user,.activity.connect .content,.activity.disconnect .user,.activity.disconnect .content
{
	float: none;
}
.pagination
{
	font-size: 14px;
	line-height: 2em;
	padding: 10px 0;
	text-align: center;
}
.pagination i
{
	margin-right: 7px;
	vertical-align: middle;
}
.activity,.pagination
{
	border-bottom: 1px solid #dee6e8;
	padding: 10px;
}
