<?xml version='1.0' encoding='utf-8'?>
<widget id="com.instaltic.visible" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>visible</name>
    <description>
       visible
    </description>
    <author email="marco.vereda@instaltic.com" href="http://www.instaltic.com">
        Marco Vereda Manchego
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
