<?xml version='1.0' encoding='utf-8'?>
<widget id="com.instaltic.knet" 
    	version="0.1.1"
    	versionCode = "1" 
    	xmlns="http://www.w3.org/ns/widgets" 
    	xmlns:gap   = "http://phonegap.com/ns/1.0">
    <name>knet</name>
    <description>
       Knet is a new way of communication without email address nor telephone numbers, it simply keeps your Identity anonymous, it lets you get in touch with people around and keep them as a Contact, furthermore it keeps you away from Security Agencies & Marketing Agencies, since your communications with "knet" are encrypted and deleted just upon reception, giving no chance for those agencies to track your profile, control you, and influence you to make you buy that product they are willing to sell you. Knet is free of adverts.
    </description>
    <author email="support@instaltic.com" href="http://www.instaltic.com">
        instalTIC S.L.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" />  
   
    
</widget>
